{% extends 'base.html' %}

{% block head_content %}
  {{ jobtypes|json_script:'jobtypes' }}
  {{ terms|json_script:'terms' }}
  {{ job_ranges|json_script:'job_ranges' }}
{% endblock head_content %}

{% block breadcrumbs %}
<b-breadcrumb-item href="/admin/jobs/">Jobs Dashboard</b-breadcrumb-item>
{% endblock breadcrumbs %}

{% block body_content %}
<h3 class="mb-4">Automated Jobs Dashboard</h3>
<time-widget></time-widget>
<jobs-filter></jobs-filter>
<jobs-table :selected-jobs="selectedJobs"></jobs-table>
{% endblock body_content %}

{% block vue_script %}
  {% load render_bundle from webpack_loader %}
  {% render_bundle 'admin_jobs' 'js' %}
{% endblock vue_script %}
