@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// override the boostrap gutter from 30px to 20px
$grid-gutter-width: 20px;

// override theme colors
$theme-colors: (

  // override bootstrap colors
  'danger': #a94442,
  'warning': #f5d300,

  // job status background colors
  'completed-bg': #d4eddaab,
  'expired-bg': #f3f8d7ab,
  'failed-bg': #f8d7daab,
  'pending-bg': #fefefeab,
  'running-bg': #d1ecf1ab,
  'claimed-bg': #edddffab,

  //text
  'white-text': #fff,
  'link-blue': #0069d9,
  'alert-red': #dc3545,

  //color
  'uw-metallic': #e8e3d3,
  'uw-purple': #4b2e83,

  //borders
  'banner-border': #d1d1d1,
  'grey-border': #ccc,

  //backgrounds
  'app-bkgnd': #fff,
  'grey-bkgnd': #dedede,
  'grey-light-bkgnd': #f7f7f7

);

// override all links
$link-color: #4d66ca; //a11y blue
